@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b; /* Dark Blue Slate */
}

/* Force light mode regardless of preference */
:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marqueeMotion {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-33.333%);
    }
  }

  .animate-horizontal-scroll {
    animation: marqueeMotion 25s linear infinite;
  }

  .clip-path-triangle {
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }
}